@model AwpDemo.Models.Articles

@{
    ViewBag.Title = "Details";
}
<img src="~/image/logo.jpeg" style="float:right" width="100" height="100">

<h2>
    @Html.DisplayFor(model => model.ArticleAdress)
</h2>

<div>




    <p>
       <b> @Html.DisplayFor(model => model.Article)</b>
    </p>

</div>

<img src="@Url.Content(Model.ImageName)" width="800" height="600" />

<p>

    @Html.ActionLink("Back To Articles", "Index", "Home")

</p>
<div>online user :  @ViewBag.onlineusers  </div>
<div>  @Html.DisplayNameFor(model => model.Visitor):  @Html.DisplayFor(model => model.Visitor)</div>