@model IEnumerable<AwpDemo.Models.Articles>

@{
    ViewBag.Title = "Index1";
}
<img src="~/image/logo.jpeg" style="float:right" width="100" height="100">

<h2>Article page</h2>

<p>
    <h2> @Html.ActionLink("Medical Question List", "Index", "Ask")</h2>
</p>
@Html.ActionLink("Logout", "Logout", "Home")
<h2> <b>user name :</b> @Session["username"] </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Visitor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleAdress)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Visitor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleAdress)
            </td>

            <td>

                @Html.ActionLink("Read Article", "Details", new { id = item.Id })

            </td>
        </tr>
    }

</table>
<div><h3>online user :  @ViewBag.onlineusers </h3> </div>
