@model IEnumerable<AwpDemo.Models.Asks>

@{
    ViewBag.Title = "Index";
}
<img src="~/image/logo.jpeg" style="float:right" width="100" height="100">

<h2>New question List Admin Page</h2>









@foreach (var item in Model)
{
<pre>
<b> @Html.DisplayNameFor(model => model.Question):</b> <b> @Html.DisplayFor(modelItem => item.UserName) :</b>  @Html.DisplayFor(modelItem => item.Question)
</pre>
<pre>
<b>  @Html.ActionLink("write Answar ", "Answar",new {id=item.Id }):</b> @Html.DisplayFor(modelItem => item.Answer)
</pre>
    <br />


}
@Html.ActionLink("Back to Home page", "Index2", "Home")

<div>
    <h3> online user :</h3>@ViewBag.onlineusers
</div>
